<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="false">

    <testsuites>
        <testsuite name="Flex Bridge">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
